textarea {
    width:100%;
    height:100%;
    border: 1px 1px 0px 1px grey ridge;
    resize: none;
}

form {
    margin-bottom: 50px;
}

hr {
    background-color: black;
}

.save-button {
    background-color: salmon;
}

.past {
    background-color: lightgrey;
}

.present {
    background-color: red;
}

.future {
    background-color: green;
}