/*CSS for day planner*/
textarea {
    width:100%;
    height:100%;
    border: 1px 1px 0px 1px grey ridge;
    resize: none;
}

form {
    margin-bottom: 50px;
}

hr {
    background-color: black;
}

.save-button {
    background-color: salmon;
}

.past {
    background-color: lightgrey;
}

.present {
    background-color: red;
}

.future {
    background-color: green;
}

/*CSS for month planner*/
h1, h2, h3 {
    display:inline-block;
}

.monthNavigation {
    background-color: lightblue;
    border: 1px solid black;
}

.month-planner {
    border: 1px solid black;
}

.hover {
    background-color:lightgrey; 
    height:100px;
    background-clip: content-box;
}

#previousMonth, #nextMonth {
    color: white;
}

#previousMonth:hover, #nextMonth:hover {
    color: red;
}

.weekday {
    background-color: lightcyan;
    min-height: 50px;
    padding-top: 12px;
    border-bottom: 1px solid black;
}

.information {
    background-color: hsla(120, 100%, 50%, 0.1);
    background-clip: content-box;
}

.invisible {
    display: none;
}